<ion-header>
  <ion-navbar>
    <ion-title>
      G00387947
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openSettingsPage()">
        <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
      </button>
    </ion-buttons> 

  </ion-navbar>
</ion-header>
 
<ion-content padding>
 <h1> News & weather for {{ city }}</h1> 
<ion-item *ngFor="let city of cities">
  
    <ion-img scr="https://flagcdn.com/w320/per.png"></ion-img>               
    </ion-item>



  <br>
  
  <hr>
    <h5>Temperature:
    {{ temp }} {{ displayTempUnit }}</h5>
    <br>
    <h5>Weather: {{ description }} </h5>
    <br>
        {{ icon }}
    <br>
    <h5>Wind From: {{ wind_cdir_full }}</h5>

>

  <!-- Weather Display: Hidden on demand -->
  <button ion-button [disabled]="newsDisabled" (click) = updateNews()> NEWS </button>  <!-- set in home ts   -->

  <span *ngIf="newsHidden">
    <hr>
    <h1>News from {{ country }} </h1>
    <ion-item *ngFor="let news of news">
      <img src="{{ news.urlToImage }}" >
      <br>
      <a href="{{ url }}" class="underline">{{ title }}</a>
      <p>{{ description }}</p>
      
    </ion-item>
  </span>
</ion-content>

